.main {
  margin: 7rem auto 5rem;
}

.ui.column.grid .row .event-card {
  height: 30rem;
}

.ui.column.grid .row .event-card:hover{
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.event-attendees {
  display:inline-block;
  margin: 0 0.4rem;
}